body{
    background-color: rgb(175, 177, 79);
}

/* h1{
    text-align: center;
} */
 
button{
    background-color: rgb(172, 57, 57);
    color: white;
    height: 40px;
    margin:20px;
    border-radius: 5px;
}
